/************************************************************************/
/* ROW
/************************************************************************/
.row{
	@include clearfix;
	width: 100%;
}

.row_flex{
	width: 100%;
	@include flexbox();
	@include flex-wrap(wrap);
}

@each $name, $breakpoint, $class in $grid_classes{
	@include breakpoint(#{$breakpoint}){
		.row-flex-#{$class}{
			width: 100%;
			@include flexbox();
		}
	}
}












