@import "compass";
@import "breakpoint";
@import "susy";

$white: rgb(255,255,255);
$grey: rgb(153, 153, 153);
$black: #141414;

html { font-size: 10px; }

body{
	font-family: Helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0;
}

header[role="banner"] {
	@include clearfix;
	background: $black;
	position: relative;
	
	.wrap {
		max-width: 100%;
		@include breakpoint(570px){
			max-width: 1200px;
			margin: 0 auto;
		}
	}
	
	.logo {
		float: left;
		display: block;
		padding: 2rem 1rem;
	}
	
	#nav_btn {
		color: $white;
	   font-size: 1.6rem;
	   text-decoration: none;
		margin: 3rem 1rem 0 0;
	   float: right;
	    
		@include breakpoint(570px) {
			display: none !important;
		}
		
		#nav_icon {
			display: inline-block;
			width: 17px;
			height: 1.2rem;
			position: relative;
			margin: 0;
			cursor: pointer;
			@include rotate(0deg);
			@include transition(0.25s,ease-in-out);
		  
			&.open {
				span:nth-child(1) {
					@include rotate(45deg);
					top: -1px;
					left: 0;
				}
				span:nth-child(2) {
					width: 0%;
					opacity: 0;
				}
				span:nth-child(3) {
					@include rotate(-45deg);
					top: 11px;
					left: 0;
				}
			}
		  
			span {
				display: block;
				position: absolute;
				height: 2px;
				width: 100%;
				background: $white;
				border-radius: 0px;
				opacity: 1;
				left: 0;
				@include rotate(0deg);
				@include transition(0.25s,ease-in-out);
			  
				&:nth-child(1) {
					top: 0px;
					@include transform-origin(left,center);
				}
				&:nth-child(2) {
					top: 5px;
					@include transform-origin(left,center);
				}
				&:nth-child(3) {
					top: 10px;
					@include transform-origin(left,center);
				}
			}
		}
	}
	
	nav[role="navigation"] {
	    @include clearfix;
	    font-size: 1.6rem;
	    line-height: 1.2;
	    width: 100%;
	    overflow: hidden;
	    display: none;
		
		@include breakpoint(570px) {
			width: auto;
			padding: 2rem 0 0;
			overflow: visible;
			float: right;
			display: block !important;
    	}
		
		ul {
			border-top: 1px solid $grey;
			margin: 0;
			padding: 0;
			
			@include breakpoint(570px) {
				border: 0;
				display: inline-block;
			}
			
			li {
				@include breakpoint(570px) {
					display: inline-block;
					float: left;
				}
			}
			
			a {
				border-bottom: 1px solid $grey;
				color: $white;
				text-decoration: none;
				padding: 1rem;
				display: block;
				
				@include breakpoint(570px) {
					border: 0;
				}
			}
		}
	}
}