/************************************************************************/
/* HEADER STYLES
/************************************************************************/

header[role="banner"] {
	@include clearfix;
	background: $lightgrey;
	
	.wrap {
		padding: 0;
		
		@include breakpoint($lg){
			@include wrap();
		}
	}
	
	.logo {
		display: inline-block;
		padding: 2rem 1.5rem;
	}
	
	#nav_btn {
		color: $white;
	   font-size: 1.8rem;
	   text-decoration: none;
		padding: 3rem 1.5rem 0 0;
	   float: right;
	    
		@include breakpoint($lg) {
			display: none !important;
		}
		
		#nav_icon {
			display: inline-block;
			width: 17px;
			height: 1.2rem;
			position: relative;
			margin: 0;
			cursor: pointer;
			@include rotate(0deg);
			@include transition(0.25s,ease-in-out);
		  
			&.open {
				span:nth-child(1) {
					@include rotate(45deg);
					top: -1px;
					left: 0;
				}
				span:nth-child(2) {
					width: 0%;
					opacity: 0;
				}
				span:nth-child(3) {
					@include rotate(-45deg);
					top: 11px;
					left: 0;
				}
			}
		  
			span {
				display: block;
				position: absolute;
				height: 2px;
				width: 100%;
				background: $white;
				border-radius: 0px;
				opacity: 1;
				left: 0;
				@include rotate(0deg);
				@include transition(0.25s,ease-in-out);
			  
				&:nth-child(1) {
					top: 0px;
					@include transform-origin(left,center);
				}
				&:nth-child(2) {
					top: 5px;
					@include transform-origin(left,center);
				}
				&:nth-child(3) {
					top: 10px;
					@include transform-origin(left,center);
				}
			}
		}
	}
	
	nav[role="navigation"] {
		@include clearfix;
		font-size: 1.8rem;
		width: 100%;
		overflow: hidden;
		display: none;
		
		@include breakpoint($lg) {
			background: none;
			width: auto;
			padding: 2rem 0 0;
			overflow: visible;
			float: right;
			display: block !important;
    	}
		
		ul {
			border-top: 1px solid $grey;
			margin: 0;
			padding: 0;
			
			@include breakpoint($lg){
				border: 0;
				display: inline-block;
			}
			
			li {
				@include breakpoint($lg) {
					display: inline-block;
					float: left;
				}
			}
			
			a {
				background-color: $black;
				border-bottom: 1px solid $grey;
				text-decoration: none;
				padding: 1rem;
				display: block;
				
				@include breakpoint($lg) {
					background: none;
					border: 0;
				}
				
				&:hover{
					background-color: $lightgrey;
					
					@include breakpoint($lg){
						background: none;
					}
				}
			}
		}
	}
}